body{
    background-color: aquamarine;
    background-size: cover;
    font-size:xx-large;
    text-align: center;
}

h1 {
   padding-top: 20px;
    color: goldenrod;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

#message-el{
    font-size: 35px;
    font-style: italic;
}

button {
    font-weight: bold ;
    color: rgb(47, 218, 161);
    width: 150px;
    height: 40px;
    background-color: goldenrod;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;;
}

